@layout('layouts.app')

@section('title')
Detailed Analysis and Early Warning System
@endsection

@section('styles')
<link rel="stylesheet" href="/css/ews.css">
@endsection

@section('content')

<main>

</main>

@endsection

@section('scripts')
<script src="/js/ews.js"></script>
@endsection
